<!--@subject {{var order.getStoreGroupName()}}: Lô hàng số {{var shipment.increment_id}} cho đơn hàng số {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:12px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Xin ch&agrave;o  {{var billing.getName()}}</strong>,<br/>
                        C&#7843;m &#417;n b&#7841;n &#273;&atilde; &#273;&#7863;t h&agrave;ng t&#7915; {{var order.getStoreGroupName()}}.
                        N&#7871;u b&#7841;n c&oacute; b&#7845;t c&#7913; c&acirc;u h&#7887;i n&agrave;o, vui l&ograve;ng li&ecirc;n h&#7879; v&#7899;i ch&uacute;ng t&ocirc;i qua  <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>  ho&#7863;c g&#7885;i cho ch&uacute;ng t&ocirc;i theo s&#7889; {{config path='general/store_information/phone'}} </p>
                    <p>D&#432;&#7899;i &#273;&acirc;y l&agrave; x&aacute;c nh&#7853;n &#273;&#417;n h&agrave;ng c&#7911;a b&#7841;n.</p>
                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        L&ocirc; h&agrave;ng c&#7911;a b&#7841;n #{{var shipment.increment_id}} cho &#273;&#417;n h&agrave;ng #{{var order.increment_id}}
                    </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin thanh to&aacute;n:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c thanh to&aacute;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin v&#7853;n chuy&#7875;n:</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c v&#7853;n chuy&#7875;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                    <br/>
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p>{{var comment}}</p>
                   <tr>
                      <td bgcolor="#EAEAEA" align="center" style="line-height: 32px;" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Trân trọng cảm ơn, <strong>{{var store.getFrontendName()}}</strong></strong></p></center></td>
                   </tr>
              </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>